# Python para Data Science: Primeros Pasos

## Comenzando con Python

1. Creado en 1989 por Guido Van Rossum
2. Lenguaje de alto nivel
3. Interpretado
4. Orientado a objetos(POO)

In [4]:
#Hola Mundo
print('Hola, Mundo!!')

Hola, Mundo!!

## Manipulando datos con python

In [26]:
# Variables
print(id(5)) #imprime espacio en memoria: 140637734223248
edad = 5
print(id(edad)) #140637734223248

#tipos de variables
print(type(edad)) #<class 'int'>
print(type(4.5)) #<class 'float'>
nombre = "Luciano"
print(nombre, edad)

140637734223248
140637734223248
<class 'int'>
<class 'float'>
Luciano 5

In [ ]:
#variables numericas
cantidad_vigilantes = 5
salario_vigilantes = 300

cantidad_docentes = 16
salario_docentes = 500

cantidad_coordinadores = 2
salario_coordinadores = 600

#1-cantidad total de empleados
print(f"La cantidad total de empleados es: {cantidad_vigilantes + cantidad_docentes + cantidad_coordinadores}")

#2-diferencia entre el salario mas bajo y mas alto
print(f"La diferencia de salario es: ${salario_coordinadores - salario_vigilantes}")

#3-promedio ponderado de los salarios de los empleados de la escuela
cantidadEmpleados = cantidad_vigilantes + cantidad_docentes + cantidad_coordinadores
total_vigilantes = cantidad_vigilantes * salario_vigilantes
total_docentes = cantidad_docentes * salario_docentes
total_coordinadores = cantidad_coordinadores * salario_coordinadores
print(f"El promedio es: ${round((total_vigilantes + total_docentes + total_coordinadores) / cantidadEmpleados, 2)}")

La cantidad total de empleados es: 23
La diferencia de salario es: $300
El promedio es: $465.22

In [22]:
#variables de texto
texto = '  Micaela de los Sanyos '
#el objetivo es eliminar los espacios del principio y final, y que aparezca en mayuscula.
texto = texto.replace('y', 't').strip().upper()#reemplaza 'y' por la 't', elimina espacios, mayuscula
print(texto)

MICAELA DE LOS SANTOS

In [ ]:
#colectando datos
ano_admision = int(input("Ingrese el año de admision a Alura Latam: "))
ano_salida = int(input("Ingrese el año de egreso: "))
nota = float(input("Ingrese su nota: "))

## Estructuras Condicionales

In [ ]:
#if, elif y else

#nota de aprobacion entre 7 y 10 -> >= 7
#nota de reprobacion menor a 7 -> < 7

nota = int(input("Ingrese su nota: "))
if nota >= 7:
    print("Aprobado")
elif 7 > nota >= 5:
    print("Recupera")
else:
    print("Desaprobado")

#operadores logicos: and, or, not
#in

## Estructuras de repeticion

In [ ]:
nota_1 = float(input("Ingrese la primera nota: "))
nota_2 = float(input("Ingrese la segunda nota: "))
print(f"El promedio del alumno 1 es: {nota_1 + nota_2 / 2}")

nota_1 = float(input("Ingrese la primera nota: "))
nota_2 = float(input("Ingrese la segunda nota: "))
print(f"El promedio del alumno 2 es: {nota_1 + nota_2 / 2}")

nota_1 = float(input("Ingrese la primera nota: "))
nota_2 = float(input("Ingrese la segunda nota: "))
print(f"El promedio del alumno 3 es: {nota_1 + nota_2 / 2}")

#### WHILE

In [ ]:
#ciclo WHILE
contador = 1
while contador <= 10:
    print(contador)
    contador += 1

In [ ]:
contador = 1
while contador <= 3:
    nota_1 = float(input("Ingrese la primera nota: "))
    nota_2 = float(input("Ingrese la segunda nota: "))
    print(f"El promedio del alumno {contador} es: {nota_1 + nota_2 / 2}")
    contador += 1

#### FOR

In [ ]:
for n in range(1, 11):
    print(n)

In [ ]:
for n in range(1, 4):
    nota_1 = float(input("Ingrese la primera nota: "))
    nota_2 = float(input("Ingrese la segunda nota: "))
    print(f"El promedio del alumno {n} es: {nota_1 + nota_2 / 2}")

## Estructuras de Datos

### LISTAS

In [ ]:
#coleccion: LISTAS
lista = ["Luciano Pesqueira", 9.5, 9.0, 9.7, True]
lista[0]#str
lista[1]#float
lista[-1]#bool

for elemento in lista:
    print(elemento)

lista[2] = 10.0

promedio = (lista[1] + lista[2] + lista[3]) / 3
print(promedio)

In [ ]:
#manipulacion de listas
lista = ["Luciano Pesqueira", 9.5, 9.0, 9.7, True]
print(len(lista))
print(lista[0:2])
print(lista[-1])
lista.append(promedio)
print(lista)
lista.extend([10.0, 8.0, 9.0])
print(lista)
lista.remove(9.0)#remueve la primera ocurrencia
print(lista)

### DICCIONARIO

In [43]:
diccionario = {
    'matricula' : 2000168933,
    'dia_registro' : 25,
    'mes_registro' : 10,
    'grupo' : '2E'}
print(diccionario)
print(diccionario['matricula'])
diccionario['grupo'] = '2G'
print(diccionario)
diccionario['modalidad'] = 'EAD'
print(diccionario)

{'matricula': 2000168933, 'dia_registro': 25, 'mes_registro': 10, 'grupo': '2E'}
2000168933
{'matricula': 2000168933, 'dia_registro': 25, 'mes_registro': 10, 'grupo': '2G'}
{'matricula': 2000168933, 'dia_registro': 25, 'mes_registro': 10, 'grupo': '2G', 'modalidad': 'EAD'}

In [48]:
#Profundizando en diccionarios
#pop()
diccionario.pop('grupo') if 'grupo' in diccionario else 'pass'
print(diccionario)
#items()
print(diccionario.items())
#keys()
print(diccionario.keys())
#values()
print(diccionario.values())

{'matricula': 2000168933, 'dia_registro': 25, 'mes_registro': 10, 'modalidad': 'EAD'}
dict_items([('matricula', 2000168933), ('dia_registro', 25), ('mes_registro', 10), ('modalidad', 'EAD')])
dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])
dict_values([2000168933, 25, 10, 'EAD'])

In [51]:
#diccionario con for
for llave, value in diccionario.items():
    print(llave, value)

matricula 2000168933
dia_registro 25
mes_registro 10
modalidad EAD